 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="icon" href="/duck/favicon.ico" sizes="20x20">
    </head>
    <script>
        (function(){var b=0;var c=["webkit","moz"];for(var a=0;a<c.length&&!window.requestAnimationFrame;++a){window.requestAnimationFrame=window[c[a]+"RequestAnimationFrame"];window.cancelAnimationFrame=window[c[a]+"CancelAnimationFrame"]||window[c[a]+"CancelRequestAnimationFrame"]}if(!window.requestAnimationFrame){window.requestAnimationFrame=function(h,e){var d=new Date().getTime();var f=Math.max(0,16.7-(d-b));var g=window.setTimeout(function(){h(d+f)},f);b=d+f;return g}}if(!window.cancelAnimationFrame){window.cancelAnimationFrame=function(d){clearTimeout(d)
        }}}());
    </script>
    <link rel="stylesheet" href="/duck/css/admin.css"/>
    <body>
        <div id="appContainer"> </div>
        <div id="dialogContainer"> </div>
        <div id="secDialogContainer"> </div>
    </body>
</html>