<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>后台管理首页</title>
        <link rel="icon" href="/duck/favicon.ico" sizes="20x20">
    </head>
    <script>
        (function() {
            var lastTime = 0;
            var vendors = ['webkit', 'moz'];
            for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
                window.requestAnimationFrame = window[vendors[x] + 'RequestAnimationFrame'];
                window.cancelAnimationFrame = window[vendors[x] + 'CancelAnimationFrame'] ||
                    window[vendors[x] + 'CancelRequestAnimationFrame'];
            }

            if (!window.requestAnimationFrame) {
                window.requestAnimationFrame = function(callback, element) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16.7 - (currTime - lastTime));
                    var id = window.setTimeout(function() {
                        callback(currTime + timeToCall);
                    }, timeToCall);
                    lastTime = currTime + timeToCall;
                    return id;
                };
            }
            if (!window.cancelAnimationFrame) {
                window.cancelAnimationFrame = function(id) {
                    clearTimeout(id);
                };
            }
        }());
    </script>
    <link rel="stylesheet" href="/duck/css/admin.css"/>
    <body>
        <div id="appContainer"> </div>
        <div id="dialogContainer"> </div>
       <!-- <script src="/duck/dist/resource_config.js"></script>-->
       <script src="/duck/dist/depend_lib.js" ></script>
       <script defer src="/duck/dist/admin.js" ></script>
    </body>
</html>