@import "base";
@import "compass/css3";
@import "jeet/index";

$jeet: (
        gutter: 0,
        max-width: 4000px
);
html,body{
  height: 100%;
  background-color: rgb(245,245,245);
}
#appContainer{
  height: 100%;
}
// login page style
.login{
  height: 100%;
  background-color: rgb(245,245,245);
  position: relative;
}

.login-bg{
  width: 100%;
  padding-bottom: 80px;
  padding-top: 170px;
  background: url("/admin/img/login-bg.png") no-repeat;
  @include background-size(cover);
  &>h2{
    font-size: 38px;
    color:#f9be00;
    text-align: center;
  }
  &>p{
    text-align: center;
    padding: 14px 0 40px;
    font-size: 14px;
    color:#f9be00;
  }
  &>img{
    width: 100%;height: auto;
  }
}
.login-block{
  width: 420px;
  margin: -80px auto 0;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.login-logo{
  padding: 50px 0;
  text-align: center;
}
.login-form{
  padding: 0 30px 60px;
  &>input{
    width: 360px;
    height: 48px;
    @include border-radius(2px);
    border: 1px solid #ddd;
    font-size: 14px;
    color: #999;
    @include box-sizing(border-box);
    padding-left: 10px;
    &:nth-of-type(1){margin-bottom: 20px;}
  }
  &>button{
    width: 360px;
    height: 48px;
    @include border-radius(2px);
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #1F2E43;
  }
}
.warning{
  @include box-sizing(border-box);
  height: 40px;
  line-height: 40px;
  color: red;
  font-style: italic;
  @include opacity(1);
  @include transition(all 0.3s ease);
}
.hide-warning{
  @include opacity(0);
}
.copy-right{
  position: absolute;
  text-align: center;
  font-size: 12px;
  color: rgb(150,150,150);
  line-height: 28px;
  bottom: 10px;
  left: 50%;
  @include translateX(-50%);
}

// manager page style
.app{
  background-color: #F6F6F6;
  position: relative;
  &>aside{
    height:860px;
    width: 200px;
    position: absolute;
    left: 0;top:0;bottom: 0;
    background-color: #314055;
    color: #8095A8;
    font-size: 14px;
    @include box-sizing(border-box);
  }
  &>.data-section{
    margin-left: 200px;
    .data-list{
      padding:0 20px;
      height: 718px;
      overflow-y: auto;
    }
  }
}

#manager{
  @include center;
  @include box-sizing(border-box);
  padding:36px 0 36px 20px;
  background-color: #202E43;
  margin-bottom: 25px;
  position: relative;
  &>div{
    @include span();
    &:nth-of-type(1){
      width: 48px;
      height: 48px;
      &>img{
        width: 100%;
        height: 100%;
        @include border-radius(3px);
      }
    }
    &:nth-of-type(2){
      width: 100px;
      padding: 4px 0 0 12px;
      &>p{color: #fff;padding-bottom: 4px;}
      &>section{
        cursor: pointer;
        &>.arrow{
          padding-left: 6px;
          vertical-align: -1px;
        }
        &>ul{
          position: absolute;
          z-index: 20;
          background-color: #fff;
          color: #8095A8;
          font-size: 14px;
          left: 20px;top:100px;
          @include border-radius(2px);
          overflow: hidden;
          height: 0;
          @include transition(height 0.1s linear);
          li{
            cursor: pointer;
            height: 40px;
            width: 160px;
            @include box-sizing(border-box);
            line-height: 40px;
            padding-left: 20px;
            &:nth-of-type(1){
              background-color:#F5F5F5;
              color: #202E43;
            }
          }
        }
      }
    }
  }
}
.primary-item{
  cursor:pointer;
  &>h2{
    padding:15px 0 15px 44px;
    position: relative;
    &>.item-icon{
      display: inline-block;
      position: absolute;
      margin-right: 10px;
      width: 16px;height: 16px;
      left: 20px;top:17px;
      background: url("/admin/img/icon/icon.png") no-repeat -2px -2px;
    }
    &:hover{
      background-color: #202E43;
      color: #fff;
      &>.item-icon{
        background-position:-20px -2px;
      }
    }
  }
  &>.selected{
    background-color: #202E43;
    color: #fff;
    &>.item-icon{
      background-position:-20px -2px;
    }
    position: relative;
    &:after{
      content: "";
      width: 4px;
      height: 49px;
      background-color:#F9BE00;
      position: absolute;
      left: 0;top:0;
    }
  }
}

.primary-item:nth-of-type(2){
  &>h2{
    &>.item-icon{
      background-position:-2px -20px;
    }
    &:hover{
      &>.item-icon{
        background-position:-20px -20px;
      }
    }
  }
  &>.selected{
    background-color: #314055;
    &:after{
      width: 0;
    }
    &>.item-icon{
      background-position:-20px -20px;
    }
  }
}
.primary-item:nth-of-type(3){
  &>h2{
    &>.item-icon{
      width: 14px;height: 8px;
      left: 21px;top:22px;
      background-position:-2px -39px;
    }
    &:hover{
      &>.item-icon{
        background-position:-20px -39px;
      }
    }
  }
  &>.selected{
    background-color: #314055;
    &:after{
      width: 0;
    }
    &>.item-icon{
      background-position:-20px -39px;
    }
  }
}
.primary-item:nth-of-type(4){
  &>h2{
    &>.item-icon{
      background-position:-2px -49px;
    }
    &:hover{
      &>.item-icon{
        background-position:-20px -49px;
      }
    }
  }
  &>.selected{
    &>.item-icon{
      background-position:-20px -49px;
    }
  }
}
.primary-item:nth-of-type(5){
  &>h2{
    &>.item-icon{
      background-position:-2px -66px;
    }
    &:hover{
      &>.item-icon{
        background-position:-20px -66px;
      }
    }
  }
  &>.selected{
    &>.item-icon{
      background-position:-20px -66px;
    }
  }
}
.primary-item:nth-of-type(6){
  &>h2{
    &>.item-icon{
      background-position:-2px -84px;
    }
    &:hover{
      &>.item-icon{
        background-position:-20px -84px;
      }
    }
  }
  &>.selected{
    &>.item-icon{
      background-position:-20px -84px;
    }
  }
}

.primary-list{
  &>li{
    padding: 5px 0 5px 44px;
    overflow: hidden;
    height: auto;
    &>span{
      display: inline-block;
      float: right;
      @include box-sizing(border-box);
      height: 16px;width: 30px;
      text-align: center;
      font-size: 12px;line-height: 16px;
      @include border-radius(8px);
      background-color: #8095A8;
      color:#202E43;
      margin-right: 6px;
      margin-top: 2px;
    }
    &:hover{
      background-color: #202E43;
      color: #fff;
      &>span{
        color: #fff;
        background-color: #F9BE00;
      }
    }
  }
  &>.highlight{
    background-color: #202E43;
    color: #fff;
    position: relative;
    &:after{
      content: "";
      width: 4px;
      height: 29px;
      background-color:#F9BE00;
      position: absolute;
      left: 0;top:0;
    }
    &>span{
      color: #fff;
      background-color: #F9BE00;
    }
  }
}

.scroll-text{
  @include box-sizing(border-box);
  background-color: #fff;
  height: 48px;
  @include center;
  padding-top: 16px;
  font-size: 12px;
  &>label{
    @include column();
    width: 70px;
    padding: 0 10px 0 40px;
  }
  &>section{
    @include column();
    width:80%;
    height: 16px;
    overflow: hidden;
    position: relative;
    &>p{
      position: absolute;
      white-space:nowrap;
    }
  }
}
.query-condition{
  padding:20px 0 20px 40px;
  font-size: 14px;
  &>hr{
    @include opacity(0);
  }
  &>.input-item{
    display: inline-block;
    &>label{
      padding-left: 20px;
      position: relative;
      top:1px;
    }
    input,select{
      width: 140px;
      height: 36px;
      @include border-radius(2px);
      border: 1px solid #ddd;
    }
    input{
      @include box-sizing(border-box);
      padding-left: 6px;
    }
  }
  &>.date-select{
    display: inline-block;
    &>label{
      padding-left: 20px;
      position: relative;
      top:1px;
    }
  }
  &>button{
    width: 120px;
    height: 36px;
    @include border-radius(2px);
    color: #fff;
    border:none;
  }
}
.query-btn{
  background-color: #F9BE00;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    background-color: #E8B100;
  }
}
.checkout{
  background-color: #1A9FE5;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    background-color: #118FD1;
  }
}
.table-head{
  @include center;
  background-color: #314055;
  &>li{
    @include span();
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #fff;
    &:nth-of-type(1){
      @include box-sizing(border-box);
      padding-left: 20px;
    }
    &:nth-last-of-type(1){
      text-align: right;
      @include box-sizing(border-box);
      padding-right: 20px;
    }
  }
}

.table-line{
  background-color: #fff;
  @include center;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  &>li{
    @include span();
    @include box-sizing(border-box);
    height: 60px;
    &>p{
      position: relative;
      top:50%;
      @include translateY(-50%);
      cursor:pointer;
    }
    &:nth-of-type(1){
      @include box-sizing(border-box);
      padding-left: 20px;
    }
    &:nth-last-of-type(1){
      height: auto;
      overflow-x: auto;
    }
  }
  &>.list-end{
    text-align: right;
    @include box-sizing(border-box);
    padding-right: 20px;
    &>p{cursor: pointer;}
  }
}
// order detail
.detail-section{
  background-color: #DEEFFF;
  color: #969696;
  min-width: 1394px;
}
.paging{
  height: 60px;
  background-color: #fff;
  text-align: right;
  padding-right: 40px;
  font-size: 12px;
  @include box-sizing(border-box);
  padding-top: 22px;
  &>em{
    display: inline-block;
    height: 16px;
    cursor: pointer;
    padding: 0 4px;
    color: #969696;
    text-align: center;
    line-height: 16px;
  }
  &>.curr-page{
    background-color:#314055;
    color: #fff;
    @include border-radius(2px);
  }
}
.order-brief{
  height: 35px;
  line-height: 35px;
  @include box-sizing(border-box);
  border-top: 1px solid #ddd;
  &>span{
    color: #323232;
  }
}
.order-main{
  @include center;
  div,p,li,h2{@include box-sizing(border-box);}
  border-top: 1px solid #CDE3F6;
  min-width: 300*3+494px;
  margin:0;
  &>div>h2{
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    border-bottom:1px solid #CDE3F6;
    color: #202E43;
  }
  &>.user-info{
    @include column();
    width: 300px;
    min-height: 342px;
    height: 100%;
    border-right:1px solid #CDE3F6;
    border-bottom:1px solid #CDE3F6;
    &>.user-basic{
      margin: 20px;
      &>img{
        width: 80px;
        height: 80px;
        @include border-radius(2px);
      }
      position: relative;
      &>figcaption{
        position: absolute;
        left: 90px;
        top:50%;
        @include translateY(-50%);
        &>p{
          &>span{color: #323232;}
          &:nth-of-type(2){
            margin: 8px 0;
          }
        }
      }
    }
    &>.user-other{
      margin-left: 20px;
      &>p{
        &:nth-last-of-type(2){
          em{
            vertical-align: top;
            display: inline-block;
            width: 200px;
          }
        }
        margin-bottom: 10px;
        &>label{width: 60px;display: inline-block;vertical-align: top;}
        &>span{color: #323232;}
      }
    }
  }
  .note-field{
    @include center;
    &>label{
      @include span();
      width: 60px;
    }
    &>span{
      @include span();
      width:216px;
    }
  }
  &>.order-info{
    @include column();
    width: 300px;
    min-height: 342px;
    height: 100%;
    border-right:1px solid #CDE3F6;
    border-bottom:1px solid #CDE3F6;
    &>.up-section{
      margin: 20px 0 35px 20px;
    }
    &>.down-section{
      margin-left: 20px;
      &>.back-flight{
        position: relative;
        &>img{
          position: absolute;
          right: 20px;
          top:-8px;
        }
      }
    }
    &>div>p{
      margin-bottom: 10px;
      &>span{color: #323232;}
    }
  }
  &>.service-info{
    @include column();
    width: 300px;
    min-height: 342px;
    height: 100%;
    border-right:1px solid #CDE3F6;
    border-bottom:1px solid #CDE3F6;
    &>.extra-service{
      margin: 20px 0 61px 20px;
      i{font-style: normal;}
      &>p{
        margin-bottom: 10px;
        &>span{color: #323232;}
        overflow: hidden;
        height: auto;
        padding-right: 20px;
        &>em{
          float: right;
          color: #1AA0E5;
          cursor: pointer;
          &:nth-of-type(2){
            margin-right: 10px;
          }
        }
      }
    }
    &>.note-field{
      margin-left: 20px;
    }
  }
  &>.process-info{
    @include column();
    width: 494px;
    min-height: 342px;
    height: 100%;
    border-bottom:1px solid #CDE3F6;
    &>ul{
      @include center;
      position: relative;
      z-index: 10;
      &>li{
        @include span(1/6);
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        border-bottom:1px solid #CDE3F6;
        border-right:1px solid #CDE3F6;
        color: #323232;
        cursor: pointer;
        &:nth-last-of-type(1){
          border-right:none;
        }
      }
      .show-item{
        border-bottom:none;
        color: #1AA0E5;
      }
    }

    &>.process-area{
      height: 100%;
      padding: 20px;
      @include translateY(-18px);
      @include box-sizing(border-box);
      overflow: hidden;
      .take-car{
        overflow: hidden;
        padding-top: 18px;
        &>.up-part{
          float: left;
        }
        &>.down-part{
          float: right;
        }
        &>section>p {
          &>span { color: #323232; }
          &>em { color: #DB8800;cursor: pointer; }
          margin-bottom: 10px;
        }
        .service-fee{
          padding-top: 51px;
          clear: both;
          &>p {
            margin-bottom: 10px;
            & > span {
              color: #323232;
            }
          }
        }
      }
      .pre-take-car{
        width:120px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        background-color: #F9BE00;
        position: relative;
        top:50%;left: 50%;
        @include translate(-50%,-50%);
        @include border-radius(2px);
        cursor: pointer;
        &:hover{
          background-color: #E8B100;
        }
      }
      .cancel-take-car{
        @extend .pre-take-car;
        background-color: #C8C8C8;
        &:hover{
          background-color: #C8C8C8;
        }
      }
      .pre-send-car{
        @extend .pre-take-car;
        background-color: #1A9FE5;
        &:hover{
          background-color: #118FD1;
        }
      }
      .move-car{
        @include center;
        padding-top: 18px;
        &>.scroll-container{
          @include column();
          width: 180px;
          height: 132px;
          overflow: hidden;
          position: relative;
          .img-scroll{
            height: 132px;
            width: 540px;
            overflow: hidden;
            @include translateX(0);
            @include transition(all 0.1s ease);
            &>li{
              float: left;
              &>img{width: 180px;height: auto;}
            }
          }
          .offset_1{@include translateX(0);}
          .offset_2{@include translateX(-180px);}
          .offset_3{@include translateX(-360px);}
          .offset_4{@include translateX(-540px);}
          .offset_5{@include translateX(-720px);}
          &>.dot{
            position: absolute;
            width: 100%;height: 13px;
            background-color: rgba(#000000,0.6);
            bottom: 0;left: 0;
            text-align: center;
            &>em{
              display: inline-block;
              margin: 0 5px 4px;
              width: 5px;
              height: 5px;
              background-color: #fff;
              @include border-radius(50%);
            }
            .dot_red{background-color: #f00;}
          }
        }
        &>.move-car-msg{
          @include column();
          width: 254px;
          height: 264px;
          @include translateX(40px);
          &>p{
            margin-bottom: 10px;
            &:nth-last-of-type(1){
              margin-top: 36px;
            }
            &>span{
              color: #323232;
            }
          }
        }
        &>.in-garage{
          padding-top: 18px;
          @include column();
          width: 254px;
          height: 264px;
          @include translateX(40px);
          overflow: hidden;
          &>p{
            margin-bottom: 10px;

            &:nth-of-type(1){
              float: left;
            }
            &:nth-of-type(2){
              float: right;
            }
            &:nth-of-type(3){
              clear: both;
            }
            &>span{
              color: #323232;
            }
          }
        }
      }
      .evaluation{
        padding-top: 18px;
        &>section{
          &>p{
            margin-bottom: 10px;
            &>span{

            }
          }
          &:nth-of-type(2){
            margin-top: 36px;

            &>p:nth-of-type(even){
              color: #323232;
            }
            &>p:nth-of-type(1){
              &>em{ cursor: pointer;}
            }
          }
        }
      }
    }
  }
  &>.service-note{
    @include column(1/2);
    @include translateX(1px);
    border-right:1px solid #CDE3F6;
    padding: 18px 0 10px 20px;
    &>p{
      margin-bottom: 8px;
      color: #323232;
      &:nth-of-type(1){
        color: #969696;
        &>label{
          vertical-align: text-top;
        }
        &>img{
          vertical-align: middle;
        }
      }
    }
  }
  &>.driver-note{
    @include column(1/2);
    border-left:1px solid #CDE3F6;
    padding: 18px 0 10px 20px;
    &>p{
      margin-bottom: 8px;
      color: #323232;
      &:nth-of-type(1){
        margin-bottom: 10px;
        color: #969696;
      }
    }
  }
}

// dialog style
#dialogContainer{
  position: fixed;
  top:0;left: 0;
  bottom: 0;right: 0;
  z-index: 20;
  background-color: rgba(20,20,20,0.3);
  display: none;
}

$dialogWidth:500px;
$dialogHeadHeight:48px;
.dialog{
  width: $dialogWidth;
  background-color: #fff;
  position: absolute;
  top:60px;
  left: 50%;
  @include translateX(-50%);
  @include border-radius(2px);
  &>.title{
    text-align: center;
    height: $dialogHeadHeight;
    line-height:$dialogHeadHeight;
    background-color: #314055;
    color: #fff;
    font-size: 16px;
    position: relative;
    @include border-top-left-radius(2px);
    @include border-top-right-radius(2px);
    overflow: hidden;
    &>i{
      display: inline-block;
      width: 48px;
      height: 48px;
      position: absolute;
      top:0;
      right: 0;
      @include border-top-right-radius(2px);
      &:hover{
        background-color: #202E43;
      }
      cursor: pointer;
      &:after{
        content: "";
        position: absolute;
        width: 1px;
        height: 16px;
        background-color: #fff;
        @include rotate(-45deg);
        top:16px;right:22px;
      }
      &:before{
        content: "";
        position: absolute;
        width: 1px;
        height: 16px;
        background-color: #fff;
        @include rotate(45deg);
        top:16px;right:22px;
      }
    }
  }

  &>.btn{
    height: 80px;
    line-height: 80px;
    border-top: 1px solid #DCDCDC;
    text-align: center;
    &>button{
      cursor: pointer;
      font-size: 14px;
      width: 120px;
      height: 36px;
      @include border-radius(2px);
      border: 1px solid #ddd;
      &:nth-of-type(1){
          background-color: #fff;
          color: #646464;
          &:hover{
            background-color: #f5f5f5;
          }
      }&:nth-of-type(2){
          background-color: #F9BE00;
          color: #fff;border:0;
          margin-left:40px;
          &:hover{
            background-color: #E8B100;
          }
      }
    }
  }
  .mistake-warn{
    position: absolute;
    display: none;
    text-align: center;
    top:50%;left: 50%;
    @include translate(-50%,-50%);
    &>span{
      display: table-cell;
      font-size: 14px;
      color: #f80;
      padding: 20px 40px;
      vertical-align: middle;
      @include border-radius(4px);
      background-color: rgba(#2b2b2b,0.7);
    }
    &>i{
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      z-index: 5;
      top:10px;
      right: 10px;
      cursor: pointer;
      &:after{
        content: "";
        position: absolute;
        width: 1px;
        height: 16px;
        background-color: #fff;
        @include rotate(-45deg);
        top:-2px;right:5px;
      }
      &:before{
        content: "";
        position: absolute;
        width: 1px;
        height: 16px;
        background-color: #fff;
        @include rotate(45deg);
        top:-2px;right:5px;
      }
    }
  }
}
.warning-tip{
  position: absolute;
  top:100px;
  padding: 15px 50px;
  background-color: #2b2b2b;
  left: 50%;
  @include translateX(-50%);
  @include border-radius(6px);
  p{color: #CB6C2E;}

}
.dialog-ensure{
  text-align: center;
  height: 100px;
  font-size:14px;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
}
.dialog-service-reply{
  padding: 40px;
  &>textarea{
    width: 420px;
    max-width: 420px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    @include border-radius(2px);
    margin-bottom: 10px;
    height: 140px;
    clear: both;
    padding: 10px;
    @include box-sizing(border-box);
  }
  &>p{
    font-size: 12px;
    color: #646464;
    height: 18px;
    text-align: justify;
    &>span{
      padding-left: 24px;
      &:nth-of-type(2) {
        float: right;
      }
    }
    $radioSize:15px;
    &>span>input{
      position: absolute;
      margin-left: -24px;
      margin-top: 1.5px;
      cursor: pointer;
      width: $radioSize;
      height: $radioSize;
      @include appearance(none);
      &:focus{outline: none;}
      &:after{
        content: "";
        width: $radioSize;
        height: $radioSize;
        @include border-radius(51%);
        position: absolute;
        background-color:#fff;
        border: 1px solid #DCDCDC;
        @include box-sizing(border-box);
        left: 0;top: 0;
      }
      &:checked{
        &:after{background-color:#314055;border:0;}
        &:before{
          content: "";
          width: 5px;
          height: 5px;
          @include border-radius(51%);
          position: absolute;
          background-color:#fff;
          left: ($radioSize - 5)/2 ;top: ($radioSize - 5)/2;
          z-index: 3;
        }
      }
    }
  }
}

.select-arrow{
  position: relative;
  display: inline-block;
  left: -30px;
  width: 13px;
  height: 7px;
  border-color:#c8c8c8;
  pointer-events: none;
  &:after{
    content: "";
    width: 9px;
    height: 0;
    border-top: 1px solid;
    position: absolute;
    @include rotate(46deg);
    bottom: 3px;right: 5px;
  }
  &:before{
    content: "";
    width: 9px;
    height: 0;
    border-top: 1px solid;
    position: absolute;
    @include rotate(-46deg);
    bottom: 3px;left:5px;
  }
}

.dialog-important-user{
  padding: 40px 60px 30px;
  &>p{
    margin-bottom: 10px;
    em{
      font-size: 14px;
      color: #323232;
      vertical-align: middle;
    }
    input,select{
      width: 220px;
      height: 36px;
      vertical-align: middle;
      @include border-radius(2px);
      border: 1px solid #DCDCDC;
      background-color: #fff;
      @include appearance(none);
      padding-left: 10px;
      @include box-sizing(border-box);
    }
    .user-gender,.username{
      width: 100px;margin-right: 10px;
      color: #646464;
    }
    .user-gender{color: #c8c8c8;}
    textarea{
      width: 300px;
      max-width: 300px;
      height: 96px;
      vertical-align: middle;
      @include border-radius(2px);
      border: 1px solid #DCDCDC;
      background-color: #fff;
      @include appearance(none);
      padding: 10px;
      @include box-sizing(border-box);
    }
  }
}
.dialog-flight-info{
  text-align: center;
  padding: 40px 0 30px;
  &>p {
    margin-bottom: 10px;
    &>em {
      font-size: 14px;
      color: #323232;
      vertical-align: middle;
    }
    &>input{
      width: 220px;
      height: 36px;
      vertical-align: middle;
      @include border-radius(2px);
      border: 1px solid #DCDCDC;
      background-color: #fff;
      @include appearance(none);
      padding-left: 10px;
      @include box-sizing(border-box);
    }
    &>i{
      position: absolute;
      color: #f00;
      font-size: 12px;
      margin-top:10px;
      margin-left:8px;
      font-style: normal;
    }
  }
  &>.date-select{
    margin-bottom: 10px;
    em {
      font-size: 14px;
      color: #323232;
      vertical-align: middle;
    }
  }
}
.dialog-modify-car{
  @extend .dialog-flight-info;
}
.dialog-modify-password{
  @extend .dialog-flight-info;
  text-align: right;
  &>p{margin-right: 104px;}
}
.customer-label{
  @include display-flex;
  padding: 40px 50px 20px;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  &>li{
    width: 120px;
    height: 36px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border:1px solid #DCDCDC;
    @include border-radius(2px);
    color: #646464;
    text-align: center;
    line-height: 36px;
    @include box-sizing(border-box);
    cursor: pointer;
    &:hover{
      border:none;
      background-color: #f5f5f5;
    }
  }
  .selected{
    background-color: #202E43;
    color:#fff;
    border:none;
    &:hover{
     color: #646464;
    }
  }
}
.dialog-place-order{
  @extend .dialog-important-user;
  padding: 40px 0 30px 54px;
}
.dialog-assign-driver{
  height: 360px;
  @include box-sizing(border-box);
  margin: 40px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  &>ul>li{
    @include display-flex();
    border-bottom: 1px solid #DCDCDC;
    padding: 0 12px;
    cursor: pointer;
    &.selected{
      background-color: #202E43;
      p{color: #fff;}
      &:hover{
        background-color: #f5f5f5;
        p{color: inherit}
      }
    }
    &:hover{
      background-color: #f5f5f5;
    }
    .urgent{color:#f00;}
    .taking{color:#DB8800;}
    .sending{color:#1A9FE5;}
    p{
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 12px;
      color: #323232;
      &:nth-of-type(1){
        @include flex(2 0);
        text-align: left;
      }
      &:nth-of-type(2){
        @include flex(3 0);
      }
      &:nth-of-type(3){
        @include flex(2 0);
        text-align: right;
      }
    }
  }
}