@import "compass/css3";
@import "variable";
.jieji-cancel-rule{
  &>h2{
    height: 160px;
    line-height: 160px;
    font-size: 40px;
    color: #323232;
    padding-left: $borderPad;
  }
  &>ul{
    padding: 0 30px 0 40px;
    &>li:nth-of-type(1){
      position: relative;
      padding-left: 25px;
      font-size: $bigFont;
      color: #323232;
      margin-bottom: 40px;
      &:after{
        content: "";
        width: 12px;
        height: 12px;
        @include border-radius(50%);
        position: absolute;
        background-color: #F9BE00;
        left: 0;top:15px;
      }
    }
    &>li{
      margin-bottom: 20px;
      &>em{color: #F9BE00;}
      padding-left: 32px;
      font-size: $middleFont;
      color: #646464;
      &>strong{font-weight: bold;}
    }
    &>li:nth-last-of-type(1){
      margin-bottom: 60px;
    }
  }
}

.jiesongji-order{
  &>hgroup{
    @include display-flex();
    @include align-items(center);
    background-color:#fff;
    margin-top: -3px;
    margin-bottom: 32px;
    i{
      border-right: 2px solid #dcdcdc;
      height: 60px;
    }
    h2{
      font-size: $bigFont;
      color: #969696;
      @include flex(1 0);
      height: 120px;
      line-height: 120px;
      text-align: center;
      @include box-sizing(border-box);
      border-bottom: 1px solid #dcdcdc;
    }
    .current{
      color: #F9BE00;
      border-bottom: 4px solid #F9BE00;
    }
  }
  &>ul{
    padding: $borderPad;
    background-color: #fff;
    margin-bottom: 32px;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    &>li{
      @include display-flex();
      font-size: $middleFont;
      color: #323232;
      margin-left: 20px;
      &>em{color: #969696;padding-right: 15px;}
    }
    &>li:nth-of-type(1){
      margin-bottom: 30px;
      @include justify-content(space-between);
      &>p{
        &:nth-of-type(2){
          text-align: right;
          padding-right: 30px;
          position: relative;
          color: #969696;
          &>.arrow{
            position: absolute;
            top:10px;right: 0;
          }
        }
      }
    }
    &>li:nth-of-type(2){
      padding-left: 40px;
      margin-bottom: 16px;
      position: relative;
      &>img{
        width: 12px;
        height: 12px;
        position: absolute;
        left: 16px;top:18px;
      }
    }
    &>li:nth-of-type(3){
      margin-bottom: 16px;
      padding-left: 40px;
      position: relative;
      &:after{
        content: "";
        width: 10px;
        height: 10px;
        @include border-radius(50%);
        position: absolute;
        background-color: #02B631;
        top:18px;left: 17px;
      }
    }
    &>li:nth-of-type(4){
      padding-left: 40px;
      position: relative;
      &:after{
        content: "";
        width: 10px;
        height: 10px;
        @include border-radius(50%);
        position: absolute;
        background-color: #D0021B;
        top:18px;left: 17px;
      }
    }
  }
}