.hidden{
    display: none;
    visibility:hidden;
}
.ui-actionsheet {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: end;
    background: #FFF;
}

.ui-actionsheet .ui-actionsheet-cnt{
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 0.3s; 
}

.ui-actionsheet-cnt {
    font-size: 18px;
    position: fixed;
    bottom: 0;
    /*padding: 0 8px;*/
    width: 100%;
    height: 100%;
    background: #FFF;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    -webkit-transform: translateY(100%);
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s; 
}
.ui-actionsheet-cnt h2{
    text-align: center;
    height: 4.5rem;
    line-height: 4.5rem;
    border-bottom: 1px solid #f2f2f2;
    color:#F5A200;
}
.coupons_div{
    width: 100%;
    height: 100%;
}
.scrollbar h2{
    text-align: center;
    height: 4.5rem;
    line-height: 4.5rem;
    border-bottom: 1px solid #f2f2f2;
    color:#F5A200;
}
.scrollbar h1{
    text-align: right;
    height: 4.5rem;
    line-height: 4.5rem;
    border-bottom: 1px solid #f2f2f2;
    color:#F5A200;
}

.ui-mask {
    display: block;
    width: 100%;
    height: 100%;
    background: #666;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(100%);
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s; 

    -webkit-transform: translateY(0);
    -webkit-transition-delay: 0.3s; 
}
.disable{
    background: gray;
}
.scrollbar{
    width:100%;
    height: 100%;
    /*max-height: 38rem;*/
    overflow:auto;
}
