@import "base";
@import "compass/css3";
@import "variable";

html,body{
  height: 100%;
}
#appContainer{
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(245,245,245);
  min-height: 100%;
  &>.app{
    min-height: 100%;
    height:100%;
  }
}


@import "jieji_songji";
@import "flight_dest";
@import "city_select";
@import "car_type_select";
@import "order_detail";
@import "travel_detail";
@import "comments";
@import "rule_order";
@import "select_date";

.arrow{
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 26px;
  &:after{
    content: "";
    width: 18px;
    height: 0;
    border-top: 3px solid #c8c8c8;
    position: absolute;
    @include rotate(44deg);
    top:5px;right: 0;
  }
  &:before{
    content: "";
    width: 18px;
    height: 0;
    border-top: 3px solid #c8c8c8;
    position: absolute;
    @include rotate(-44deg);
    top:17px;right: 0;
  }
}
.arrow-down{
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 14px;
  &:after{
    content: "";
    width: 18px;
    height: 0;
    border-top: 3px solid #c8c8c8;
    position: absolute;
    @include rotate(45deg);
    bottom: 7px;right: 10px;
  }
  &:before{
    content: "";
    width: 18px;
    height: 0;
    border-top: 3px solid #c8c8c8;
    position: absolute;
    @include rotate(-45deg);
    bottom: 7px;left:10px;
  }
}
.clear-input{
  display: inline-block;
  width: 28px;
  height: 28px;
  @include border-radius(50%);
  background-color:#C8C8C8;
  position: relative;
  &:after{
    content: "";
    width: 2px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    @include rotate(44deg);
    top:4px;left: 13px;
  }
  &:before{
    content: "";
    width: 2px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    @include rotate(-44deg);
    top:4px;left: 13px;
  }
}
.tiny-line{
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
}
#dialog{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  overflow-y: auto;
}
