@import "compass/css3";
@import "variable";
.select-date{
  $scrollHeight:500px;
  position: absolute;
  height: $scrollHeight + 100px;
  left: 0;right: 0;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #DCDCDC;
  &>p{
    position: absolute;
    color: #969696;
    font-size: $smallFont + 2px;
    left: 50%;top:22px;
    @include translateX(-50%);
  }
  &>em{
    position: absolute;
    font-size: $middleFont + 4px;
    &:nth-of-type(1){
      left:30px;top:15px;
      color: #323232;
    }
    &:nth-of-type(2){
      right:30px;top:15px;
      color: #F9BE00;
    }
  }
  &>.datetime-section{
    @include display-flex();
    margin-top: 72px;
    @include justify-content(center);
    &>div{
      height: $scrollHeight;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      //padding: 0 25px;
      &:nth-of-type(1){ width: 290px;}
      &:nth-of-type(2){width: 150px;}
      &:nth-of-type(3){width: 150px;}
      &>ul{
        li{
          height: $scrollHeight/5;
          line-height: $scrollHeight/5;
          color: #969696;
          font-size: $smallFont + 2px;
          @include transition(all 0.2s ease-out 0.1s);
        }
        &>.around{
          color: #646464;
          font-size: $middleFont - 2px;
        }
        &>.selected{
          color: #323232;
          font-size: $bigFont;
        }
      }
    }
  }
}