body {
	background: #ffffff;
}
.wrap {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.comment {
	width: 100%;
	display: inline-block;
}

.comment-list-ul {
	width: 100%;
	margin-bottom: 0.8rem;
	display: inline-block;
}

.comment-list-ul li {
	float: left;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #dcdcdc;
}

.border-line {
	width: 90%;
	margin-left: 5%;
	float: left;
	height: 1px;
	display: inline-block;
}


.comment-list-ul li .top {
	width: 90%;
	padding: 0 5%;
	display: inline-block;
	height: 4.0rem;
	margin-top: 0.8rem;
}



.comment-list-ul li .top .avatar {
	height: 2.6rem;
	width: 2.6rem;
	float: left;
	margin-top: 0.7rem;
	position: relative;
}

.comment-list-ul li .top .avatar img {
	width: 100%;
}

.comment-list-ul li .top .avatar img.cover {
	position: absolute;
	z-index: 3;
	left: 0px;
}

.comment-list-ul li .top .name-block {
	float: left;
	width: 25%;
	height: 4.0rem;
	margin-left: 3%;
}
.comment-list-ul li .top .name-block p {
	width: 100%;
	margin-top: 0.6rem;
	line-height: 1.5rem;
	height: 1.5rem;
	color: #646464;
	font-size: 1.0rem;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden; 
	display:block;
}

.comment-list-ul li .top .name-block em {
	width: 100%;
	height: 1.3rem;
	line-height: 1.3rem;
	font-size: 0.9rem;
	color: #646464;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden; 
	display:block;
}

.comment-list-ul li .user-content {
	width: 90%;
	padding: 0 5%;
	margin-top: 0.3rem;
	line-height: 2.0rem;
	font-size: 1.0rem;
	color: #333;
	/*min-height: 4.0rem;*/
	margin-bottom: 0.8rem;
}

.comment-list-ul li .top .star {
	width: 50%;
	float: right;
	height: 4.0rem;
}

/*.comment-list-ul li .top .star img {
	float: left;
	width: 17%;
	margin-left: 3%;
	margin-top: 1.35rem;
}*/

.comment-list-ul li .time-block {
	width: 100%;
	display: inline-block;
	height: 1.9rem;
	margin-top: 1.0rem;
}

.comment-list-ul li .time-block p {
	float: right;
	line-height: 2rem;
}

.comment-list-ul li .time-block img {
	float: right;
	height: 0.9rem;
	margin-right: 0.3rem;
	margin-top: 0.55rem;
}

.comment-list-ul li .time-block-bottom {
	width: 100%;
	display: inline-block;
	height: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.8rem;
}

.comment-list-ul li .time-block-bottom p {
	line-height: 1.5rem;
	float: right;
	color: #636363;
}

.comment-list-ul li .service-response{
	background: #f0f0f0;
	width: 82%;
	float: left;
	margin-left: 5%;
	margin-bottom: 0.8rem;
	padding: 0 4%;
}

.top-res-img {
	height: 0.8rem;
	margin-top: -0.8rem;
	float: left;
}

.title-hel {
	margin-top: 0.8rem;
	line-height: 1.5rem;
	color: #9e6c00;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.content-n {
	line-height: 2.0rem;
	color: #636363;
	font-size: 1.0rem;
	word-break: break-all;
	margin-top: 0.5rem;
}

.content-n em {
	color: #f2b229;
}

.fbt-ti {
	width: 90%;
	padding-right: 10%;
	line-height: 2.0rem;
	color: #9e6c00;
	font-size: 1.2rem;
	text-align: right;
	font-weight: bold;
	float: left;
}


.loadmore {
	float: left;
	width: 100%;
	text-align: center;
	height: 3.0rem;
	line-height: 3.0rem;
	color: #6c6c6c;
	display: inline-block;
	margin-bottom: 1.0rem;
	display: none;
}

.star-block {
	width: 90%;
	padding: 0 5%;
	height: 1.5rem;
	margin-top: 0.3rem;
}

.star-block p{
	color: #656565;
	font-size: 0.95rem;
	line-height: 1.6rem;
	float: left;
}

.star-content {
	float: left;
	width: 7.5rem;
	height: 1.2rem;
	padding: 0.15rem 0;
}

.star-content img {
	float: left;
	width: 1.2rem;
	height: 1.2rem;
	margin-left: 0.3rem;
}

.comment-banner {
	width: 100%;
	padding-top: 3.5rem;
}

.comment-banner img {
	width: 100%;
}