.wrap {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.contact-banner {
	width: 100%;
	padding-top: 3.5rem;
}

.contact-banner img {
	width: 100%;
}

.contact-list {
	width: 90%;
	padding: 0 5%;
}

.contact-ul {
	width: 100%;
	padding-bottom: 3.0rem;
	display: inline-block;
}

.contact-ul li {
	float: left;
	width: 100%;
	margin-top: 1.2rem;
}

.contact-ul li h3 {
	height: 3.0rem;
	line-height: 3.0rem;
	color: #969696;
	font-size: 1.5rem;
}

.contact-ul li p {
	color: #6e6e6e;
	line-height: 1.8rem;
}

.contact-ul li p a {
	color: #6e6e6e;
	text-decoration: none;
}