.wrap {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.banner {
	width: 100%;
	text-align: center;
}

.banner img{
	width: 100%;
}

.banner .banner-title {
	margin-top: 1.0rem;
	width: 80%;
	display: inline-block;
}

.part {
	width: 90%;
	padding: 0 5%;
}

.part p {
	line-height: 1.6rem;
	font-size: 1.05rem;
	word-break: break-all;
}

.price-p {
	text-indent: 2rem;
	margin-top: 1.0rem;
}

.title {
	width: 90%;
	padding: 0 5%;
	margin-top: 3.5rem;
	margin-bottom: 1.2rem;
	position: relative;
	display: inline-block;
}

.title img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.title h2 {
	text-align: center;
	height: 3.2rem;
	line-height: 2.6rem;
	color: #fff;
	font-size: 1.15rem;
	position: relative;
}

.content {
	width: 90%;
	padding: 0 5%;
}

.font-title {
	width: 100%;
}

.content .font-title img{
	width: 1.35rem;
	margin-right: 0.5rem;
	float: left;
	display: inline-block;
	margin-top: 0rem;
}

.font-title span {
	float: left;
	width: 100%;
	line-height: 1.6rem;
}

.content img {
	width: 100%;
	margin-top: 0.8rem;
	display: inline-block;
}

.font-title em {
	font-weight: bold;
}

.title-top {
	margin-top: 1.5rem;
}

.tips-impor {
	margin-top: 0.3rem;
	font-size: 0.9rem;
}

.tips-impor em {
	font-weight: bold;
}

.centen-bottom {
	width: 90%;
	padding: 0 5%;
	padding-bottom: 2.5rem;
}

.centen-bottom p {
	width: 100%;
	line-height: 1.6rem;
	margin-top: 1.8rem;
}

.centen-bottom p a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.bottom {
	width: 100%;
	padding: 0.6rem 0;
	background: black;
	text-align: center;
}

.bottom img {
	width: 40%;
	display: inline-block;
}