.wrap {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.history-banner {
	width: 100%;
	padding-top: 3.5rem;
	display: inline-block;
}

.history-banner img {
	width: 100%;
}

.center {
	width: 90%;
	padding: 0 5%;
}

.center p {
	float: left;
	line-height: 1.6rem;
	text-indent: 2rem;
	margin-top: 0.8rem;
}

.history-time {
	width: 90%;
	padding: 0 5%;
}

.history-time ul {
	float: left;
	padding-bottom: 3.0rem;
}

.history-time ul li {
	float: left;
	width: 100%;
	margin-top: 2.0rem;

}

.history-time ul li .left {
	float: left;
	width: 65%;
}

.history-time ul li .left h3 {
	line-height: 3.0rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: #c9c9c9;
	text-align: left;
}

.history-time ul li .left p{
	color: #646464;
	line-height: 1.6rem;
}

.history-time ul li img {
	float: right;
	margin-top: 0.6rem;
	margin-right: 0;
	width: 28%;
}

.history-time ul li img.secord {
	margin-top: 1.6rem;
}

.history-time ul li img.thrid {
	margin-top: 0.5rem;
	width: 18%;
}

.history-time ul li img.five {
	margin-top: 0.5rem;
	width: 22%;
}

.history-time ul li img.seven {
	margin-top: 1.5rem;
	width: 18%;
}

.history-time ul li img.eight {
	margin-top: 1.2rem;
	width: 20%;
}

.history-time ul li img.nine {
	margin-top: 1.6rem;
	width: 30%;
}