.warp {
	border: 1px solid red;
}

.evaluate {
	width: 100%;
	height: auto;
}

.evaluate-banner {
	max-width: 1200px;
	min-width: 1000px;
	margin: 40px auto 60px;
}

.evaluate-banner img {
	width: 100%;
}

.comment {
	max-width: 1200px;
	min-width: 1000px;
	height: auto;
	margin: 0 auto;
	border-top: 1px solid #dcdcdc; 
}

.comment-ul {
	width: 1000px;
	margin: 0 auto;
	height: auto;
}

.comment-ul li {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 20px; 
	border-bottom: 1px solid #dcdcdc; 
}

.comment-ul li .top {
	width: 100%;
	height: 60px;
	margin-top: 20px;
}

.comment-ul li .top .avatar {
	width: 60px;
	height: 60px;
	float: left;
	position: relative;
	overflow: hidden;
}

.comment-ul li .top .avatar img {
	width: 100%;
}

.comment-ul li .top .avatar .cover {
	position: absolute;
	width:  60px;
	height: 60px;
	z-index: 3;
	left: 0;
}

.comment-ul li .top p {
	float: right;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	color: #999;
}

.comment-ul li .top .name {
	float: left;
	width: 300px;
	height: 60px;
	margin-left: 20px;
}

.comment-ul li .top .name p {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #646464;
}

.comment-ul li .top .name span {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #646464;
}

.comment-ul li .detail {
	width: 920px;
	margin-left: 80px;
	margin-top: 10px;
}

.comment-ul li .detail .star-block {
	width: 100%;
	height: 30px;
}

.comment-ul li .detail .star-block p {
	float: left;
	line-height: 30px;
	color: #656565;
	font-size: 16px;
}

.comment-ul li .detail .star-block span {
	float: left;
	margin-top: 5px;
	height: 20px;
}

.comment-ul li .detail .star-block span img {
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.comment-p {
	width: 100%;
	margin-top: 5px;
	color: #7e7e7e;
	font-size: 14px;
	line-height: 25px;
}

.service-comment {
	width: 94%;
	padding: 20px 3%;
	background: #f0f0f0;
	margin-top: 15px;
	position: relative;
	display: inline-block;
}

.icn-up {
	position: absolute;
	left: 15px;
	top: -11px;
}

.return-time {
	float: left;
	width: 100%;
	text-align: right;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    margin-top: 3px;
    display: inline-block;
}

.service-comment span {
	width: 100%;
	display: inline-block;
	font-size: 14px;
	color: #646464;
}

.service-comment span em {
	float: left;
	line-height: 25px;
	color: #fabd02;
	font-weight: bold;
}

.service-comment span p {
	width: 800px;
	float: right;
	line-height: 25px;
}

.click-more {
	width: 1000px;
	height: 60px;
	line-height: 60px;
	background: #dcdcdc;
	text-align: center;
	border-radius: 5px;
	margin: 90px auto 120px;
	cursor: pointer;
	color: #646464;
	display: none;
}

.nomoreData {
	background: none;
}