.header {
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #ffc000;
	position: fixed;
	top: 0px;
	z-index: 999;
	background: #fff;
}


.header-content {
	width: 1000px;
	margin: 0 auto;
	height: 58px; 
}

.logo {
	margin-top: 9px;
}

.top-ul {
	float: right;
	height: 58px;
}

.top-ul li {
	float: right;
	margin-right: 56px;
	line-height: 56px;
	position: relative;
}

.top-ul li.first {
	margin-right: 0px;
}

.top-ul li.aboutus-li:hover {
	height: 180px;
}

.top-ul li.aboutus-li:hover .aboutus-choice{
	display: block;
}

.top-ul li a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.top-ul li.on a{
	color: #FABD02;
}

.top-ul li a:hover {
	color: #FABD02;
}

.aboutus-choice {
	position: absolute;
	left: -20px;
	top: 59px;
	width: 100px;
	height: 120px;
	z-index: 999;
	background: #fff;
	margin: 0;
	padding: 0;
	display: none;
}

.top-ul li .aboutus-choice a {
	float: left;
	width: 100%;
	height: 40px!important;
	line-height: 40px!important;
	text-align: center;
	display: inline-block;
	margin-top: 0px;
	color: #636363;

}

.top-ul li .aboutus-choice a:hover {
	background: #fabd02;
	color: #fff;
}