html,body {
	background: #ffffff;
}
.wrap {
	width: 100%;
	height: 100%;
}

.banner {
	width: 100%;
	position: relative;
	overflow: hidden;
}


.partner-banner {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

.prev {
	position: absolute;
	left: -50px;
	top: 150px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	transition: all .5s;
	-moz-transition: all .5s;	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	text-align: center;

	filter:alpha(opacity= 0);
	-moz-opacity: 0; 
	opacity: 0;
}

.prev img {
	display: inline-block;
}

.next {
	position: absolute;
	cursor: pointer;
	right: -50px;
	top: 150px;
	width: 100px;
	height: 100px;
	transition: all .5s;
	-moz-transition: all .5s;	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	text-align: center;

	filter:alpha(opacity= 0);
	-moz-opacity: 0; 
	opacity: 0;
}

.next img {
	display: inline-block;
}

.banner:hover .next {
	right: -20px;
	top: 175px;
	filter:alpha(opacity= 100);
	-moz-opacity: 1; 
	opacity: 1;
}

.banner:hover .prev {
	left: -20px;
	top: 175px;
	filter:alpha(opacity= 100);
	-moz-opacity: 1; 
	opacity: 1;
}

.partner-banner li {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	cursor: pointer;
}

.partner-banner li img {
	width: 100%;
	min-width: 1000px
}

.partner-banner li.on {
	display: block;
}


.partner {
	float: left;
	margin-left: 464px;
	margin-top: 35px;
}

.partner-group {
	float: left;
	margin-left: 464px;
	width: 512px;
	height: 268px;
	margin-top: 20px;
}

.partner-group li {
	width: 100%;
	height: 100%;
}

.identification {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 10px;
	display: inline-block;
	text-align: center;
	line-height: 10px;
	padding: 0;
	display: none;
}

.identification span {
	display: inline-block;
	margin-right: 10px;
	margin-top: 0px;
	width: 60px;
	height: 4px;
	background: url(../images/index/icn_focus.png);
}

.identification span.on {
	background: url(../images/index/icn_focus_hover.png);
}




.user-number-block {
	width: 100%;
	height: 780px;
	padding-top: 60px;
	text-align: center;
}

.user-number-content {
	width: 1000px;
	height: 780px;
	margin: 0 auto;
	border: 1px solid #fff;
}

.user-num {
	width: 920px;
	height: 100px;
	margin: 0 auto;
	background: url(../images/index/background.png);
}

.user-num img {
	float: left;
	margin-left: 2px;
	width: 100px;
	height: 100px;
}

.gz-already {
	width: 100%;
	margin-top: 15px;
	font-size: 24px;
	color: #FABD02;
	line-height: 32px;
	text-align: center;
	font-weight: lighter;
}

.sm-getfbt {
	width: 100%;
	line-height: 32px;
	color: #333;
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
}

.ewm {
	display: inline-block;
	margin-top: 15px;
	width: 100%;
}


.fbt-cj {
	width: 100%;
	height: 760px;
	background: #fafafa;
}

.ftb-cj-content {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.title-block {
	float: left;
	width: 100%;
	margin-top: 30px;
	position: relative;
}

.title-block img {
	position: absolute;
	top: 16px;
	width: 33%;
}

.title-block img.right {
	right: 0px;
}

.title-block p {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	color: #323232;
	text-align: center;
}

.yzfw {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #797979;
	margin-top: 8px;
	display: inline-block;
}

.park-step {
	width: 100%;
	margin-top: 10px;
	height: 650px;
	position: relative;
}

.park-focue {
	position: absolute;
	bottom: 175px;
	width: 505px;
	text-align: center;
	right: 65px;
}

.park-focue span {
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/index/icn_6.png) no-repeat;
	margin-left: 20px;
	cursor: pointer;
}

.park-focue span.on {
	background: url(../images/index/icn_4.png) no-repeat;
}

.park-step ul {
	width: 100%;
	float: left;
	height: 650px;
	position: relative;
	display: inline-block;
}

.park-step ul li {
	width: 100%;
	height: 650px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.park-step ul li.on {
	display: block;
}

.park-step ul li .left-img {
	height: 650px;
	float: left;
}

.park-step ul li .right-block {
	float: left;
	height: 650px;
	width: 500px;
}

.park-car {
	margin-top: 200px;
	margin-left: 20px;
}

.park-car img {
	float: left;
	margin-right: 16px;
	margin-top: 4px;
}

.park-car em {
	font-size: 20px;
	line-height: 32px;
}

.right-block span {
	width: 400px;
	margin-left: 20px;
	margin-top: 25px;
	line-height: 30px;
	font-size: 14px;
	color: #323232;
	display: inline-block;
}

.check-detail {
	width: 395px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin-top: 55px;
	font-size: 20px;
	display: block;
	margin-left: 20px;
	border-radius: 3px;
	border: 1px solid #646464;
	cursor: pointer;
}

.experience {
	width: 100%;
	height: 545px;
	padding-top: 70px;
}

.experience-block {
	width: 1000px;
	height: 545px;
	margin: 0 auto;
}

.title-notop {
	margin-top: 0px;
}

.experience-ul {
	margin-left: -20px;
	margin-top: 35px;
	width: 1020px;
	height: 420px;
}

.experience-ul li {
	float: left;
	margin-left: 20px;
	width: 235px;
	height: 380px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.experience-ul li img {
	width: 100%;
}

.experience-ul li p {
	position: absolute;
	bottom: -380px;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	width: 195px;
	padding: 30px 20px;
	line-height: 20px;
	font-size: 14px;

	transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.experience-ul li:hover p {
	bottom: 0px;
}



.guarantee {
	width: 100%;
	height: 725px;
	padding-top: 32px;
	background: #fafafa;
}

.guarantee-content {
	width: 1000px;
	height: 725px;
	margin: 0 auto;
}

.guaran-block {
	width: 100%;
	margin-top: 35px;
}

.guaran-block-left {
	width: 326px;
	float: left;
}

.guaran-block-left img.picc {
	width: 100%;
	height: 372px;
}

.bottm-picc {
	margin-top: 6px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	font-size: 0px;
}

.bottm-picc:hover p.title {
	bottom: -40px;
}

.bottm-picc:hover p.content {
	bottom: 0px;
}

.bottm-picc p.title {
	position: absolute;
	bottom: 0px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	transition: all .5s;
	-moz-transition: all .5s;	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.bottm-picc p.content {
	position: absolute;
	font-size: 14px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	line-height: 20px;
	padding: 20px 20px;
	width: 286px;
	bottom: -180px;
	transition: all .5s;
	-moz-transition: all .5s;	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}



.bottm-picc img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.guarn-right-ul {
	float: left;
	margin-top: -10px;
	width: 672px;
}

.guarn-right-ul li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 326px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
	font-size: 0px;
}

.guarn-right-ul li:hover p.title {
	bottom: -40px;
}

.guarn-right-ul li:hover p.content {
	bottom: 0px;
}

.guarn-right-ul li p.title {
	position: absolute;
	bottom: 0px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	transition: all .5s;
	-moz-transition: all .5s;	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.guarn-right-ul li p.content {
	position: absolute;
	font-size: 14px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	line-height: 20px;
	padding: 20px 20px;
	width: 286px;
	bottom: -180px;
	transition: all .5s;
	-moz-transition: all .5s;	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}


.guarn-right-ul li img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.price {
	width: 100%;
	padding-top: 55px;
	height: 810px;
}

.price-content {
	width: 1000px;
	margin: 0 auto;
	height: 810px;
}

.first-hour {
	font-size: 20px;
	width: 100%;
	text-align: center;
	line-height: 32px;
	margin-top: 30px;
	color: #323232;
}

.price-img-c {
	width: 100%;
	margin-top: 40px;
}

.comment {
	width: 100%;
	background: #fafafa;
	padding-top: 35px;
}

.comment-content {
	width: 1000px;
	height: 1280px;
	margin: 0 auto;
}






.partner-block {
	width: 100%;
	padding-top: 55px;
}

.partner-content-block {
	width: 1000px;
	height: 245px;
	margin: 0 auto;
}

.hzhb {
	float: left;
	width: 1018px;
	margin-left: -18px;
	margin-top: 43px;
}

.hzhb li {
	float: left;
	width: 127px;
	margin-left: 18px;
}

.hzhb li img {
	float: left;
	width: 100%;
}


.comment-detail-block {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
	height: auto;
	overflow: hidden;
}

.comment-data {
	width: 1246px;
	margin-left: -130px; 
}

.comment-data li {
	float: left;
	padding: 20px 20px;
	width: 206px;
	height: 420px;
	margin-left: 130px;
	margin-top: 30px;
	background-size: 100% 100%;
}

.com-div {
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url(../images/index/bg_comment.png);
}

.com-div .avatar {
	display: inline-block;
	margin-top: 28px;
}

.com-div h2 {
	font-size: 16px;
	color: #313131;
	margin-top: 12px;
}

.com-div p {
	font-size: 14px;
	color: #333;
	line-height: 24px;
	width: 90%;
	margin-left: 5%;
	text-align: left;
}

.com-div .line {
	width: 90%;
	margin-left: 5%;
	margin-top: 12px;
	margin-bottom: 12px;
}

.comment-data li:hover {
	background-image: url(../images/index/bg_comment_hover.png);
}

.check-more-comment {
	width: 350px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: #2e3138;
	border: 1px solid #2e3138;
	border-radius: 3px;
	display: inline-block;
	margin-top: 80px;
	margin-left: 325px;
	cursor: pointer;
	text-decoration: none;
}