.joinus {
	width: 100%;
	height: auto;
}

.joinus-banner {
	max-width: 1200px;
	min-width: 1000px;
	margin: 40px auto 10px;
}

.joinus-banner img {
	width: 100%;
}

.joinus-recruit {
	width: 1000px;
	margin: 0 auto;
}

.joinus-recruit h2 {
	line-height: 20px;
	width: 100%;
	text-align: center;
	padding: 30px 0;
	font-size: 14px;
	color: #fabd02;
	font-weight: bold;
}

.joinus-p {
	width: 100%;
	text-align: center;
	height: 30px;
	font-size: 14px;
	color: #646464;
}


.choice-block {
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
}

.choice-block p {
	display: inline-block;
	line-height: 40px;
	font-size: 18px;
	color: #656565;
	padding: 0 40px;
	cursor: pointer;
}
.choice-block p:hover {
	color: #fabd02;
}

.choice-block p.on {
	color: #fabd02;
}

.part-block {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 75px;
}

.head-table {
	width: 100%;
	height: 60px;
	border: 1px solid #dcdcdc;
	border-bottom: none;
	background: #fafafa;
}

.head-table p {
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	font-weight: bold;
	float: left;
	color: #646464;
	width: 150px;
	text-align: center;
}

.f {
	width: 510px!important;
	padding-left: 30px!important;
	text-align: left!important;
}

.part {
	width: 100%;
	border: 1px solid #dcdcdc;
	display: none;
}

.top {
	width: 100%;
	height: 50px;
	position: relative;
	cursor: pointer;
}

.top p {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	float: left;
	color: #646464;
	width: 150px;
	text-align: center;
}

.type {
	width: 100%;
}

.zjDetail {
	width: 940px;
	background: #fafafa;
	margin-left: 30px;
	display: none;
}

.zjDetail h3 {
	width: 98%;
	padding-left: 2%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #646464;
	font-weight: bold;
}

.zjDetail p {
	width: 98%;
	padding-left: 2%;
	line-height: 30px;
	font-size: 14px;
	color: #646464;
}

.zm {
	width: 100%;
	height: 300px;
	line-height: 300px;
	text-align: center;
	color: #646464;
}

.js-upload {
	position: absolute;
	right: 10px;
	top: 15px;
	cursor: pointer;
}

.line-block {
	width: 940px;
	margin-left: 30px;
	border-bottom: 1px solid #dcdcdc;
	display: none;
}